
<h2>Primeiro número : <%= @number1%></h2>
<h2>Segundo número : <%= @number2%></h2>


<%= link_to "Soma", soma_path %>
<%= link_to "Subtração", subtracao_path %>
<%= link_to "Divisão", divisao_path %>
<%= link_to "Multiplicação", multiplicacao_path %>
